@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">.NET 💜 Azure</h5>
    <p class="card-text">A perfect match for seamless and powerful cloud solutions.</p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
</div>

